# Flutter and Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android generated local files
android/.gradle/
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/app/debug/
android/app/profile/
android/app/release/

# IDE and OS noise
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
